@import "./../App/variables";

.list__title {
  padding-left: 20%;
  text-align: left;
  font-size: 5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px $font-color;
}

.list__text {
  padding: 2rem 0 2rem 20%;
}

@media screen and (max-width: $tablet-width) {
  .list__title {
    padding-left: 5%;
    font-size: 3.5rem;
  }

  .list__text {
    padding-left: 5%;
  }
}
