@import "./../src/components/App/variables";

body {
  padding: 3rem;
  font-size: 1rem;
  background-color: #343434;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  color: $font-color;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}
